<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sdr.mapper.UserMapper">
	
	<insert id="insert" parameterType="user">
		INSERT INTO USERS VALUES (#{userid},#{userpwd},#{username}, #{useraddr},#{userphone}, #{ranks}, #{birth}, #{gender}, #{email})	
	</insert>
	
	<update id="update" parameterType="user">
		UPDATE USERS SET PWD=#{pwd},NAME=#{name} WHERE ID=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM USERS WHERE ID=#{obj}
	</delete>
	
	<select id="select" parameterType="String" 
	resultType="user">
		SELECT * FROM USERS WHERE USERID=#{obj}	
	</select>
	
	<select id="selectall" resultType="user">
		SELECT * FROM USERS 
	</select>
	
</mapper>






















